/* 1. Ogólne */
html {
    background-color: rgb(22,22,22);
    color: rgb(222,222,222);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    width: 270px;
    border: 2px rgb(200,200,200) ridge;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    transition: 0.7s;
    padding: 0;
}

div {
    margin-top: 25px;
}

h2 {
    text-align: center;
    border: 2px rgb(200,200,200) ridge;
    border-radius: 5px;
    transition: 0.7s;
    width: 250px;
    margin: 12.5px auto;
    padding: 10px;
}

h3 {
    text-align: center;
    border: 2px rgb(200,200,200) ridge;
    border-radius: 5px;
    transition: 0.7s;
    width: 90px;
    margin: 12.5px auto;
    padding: 10px; 
}

footer {
    clear: both;
    margin-top: 25px;
}

input {
    border-radius: 5px;
    border: 1px rgb(200,200,200) ridge;
    background-color: rgb(22,22,22);
    color: rgb(222,222,222);
    margin-bottom: 7.5px;
    transition: 0.7s;
}

a {
    color: rgb(222,0,0);
}

table {
    border-collapse: collapse;
    border: 1px rgb(200,200,200) ridge;
}

th,td {
    border: 1px rgb(200,200,200) ridge;
    padding: 5px;
    text-align: center;
    transition: 0.7s;
}

button {
    background-color: rgb(22,22,22);
    color: rgb(222,222,222);
    border: 1px rgb(200,200,200) ridge;
    border-radius: 5px;
    text-align: center;
    margin-left: 350px;
    transition: 0.7s;
}

/* 2. Klasy */
.dod {
    background-color: rgb(0,125,0);
    color: black;
    transition: 0.7s;
    margin-right: 2.5px;
}

.wycz {
    background-color: rgb(125,0,0);
    color: black;
    transition: 0.7s;
    margin-left: 2.5px;
}

.wycz_plus {
    background-color: rgb(155, 100, 0);
    color: black;
    transition: 0.7s;
    margin-left: 2.5px;
    width: 100px;
}

.pudlo {
    background-color: rgb(22,22,22);
    border: 2px rgb(200,200,200) ridge;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 20%;
    height: 40px;
    text-align: center;
    font-size: 240%;
    transition: 0.7s;
}

.lewo_ale_klasa {
    float: left;
}

.prawo_ale_klasa {
    float: right;
}

.box {
    background-color: rgb(22,22,22);
    border: 2px rgb(200,200,200) ridge;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    width: 60%;
    height: auto;
    text-align: center;
    font-size: 125%;
    transition: 0.7s;
}

.uklad {
    display: flex;
}

.pudlo_plus {
    background-color: rgb(22,22,22);
    border: 2px rgb(200,200,200) ridge;
    border-radius: 5px;
    padding: 10px;
    margin: 27.5px;
    width: 50%;
    height: 40px;
    text-align: center;
    font-size: 240%;
    transition: 0.7s;
}

/* 2.1. Klasy z : */
.dod:hover {
    background-color: rgb(0,222,0);
    color: black;
    border-radius: 10px;
    scale: 1.06;
}

.wycz:hover {
    background-color: rgb(222,0,0);
    color: black;
    border-radius: 10px;
    scale: 1.06;
}

.wycz_plus:hover {
    background-color: rgb(255,150,0);
    color: black;
    border-radius: 10px;
    scale: 1.06;
}

.pudlo:hover, .pudlo_plus:hover {
    scale: 1.1;
    background-color: black;
    border-radius: 10px;
}

.podswietlenie:hover {
    color: white;
    background-color: black;
    scale: 1.05;
}

.box:hover {
    scale: 1.1;
    background-color: black;
}

.pudlo_plus:hover {
    rotate: 5deg;
}

.pudlo_plus1:hover {
    rotate: -5deg;
}

.tło_sara:hover {
    background-image: url(../Grafiki/20261002_090944.jpg);
    background-size: cover;
}

.tło_sara1:hover {
    background-image: url(../Grafiki/20260719_235112.jpg);
    background-size: 238px 36px;
    background-repeat: no-repeat;
}

.tło_sara2:hover {
    background-image: url(../Grafiki/20260719_235112.jpg);
    background-size: 665px 100px;
    background-repeat: no-repeat;
}

/* 3. Id */
#lewo {
    width: 45%;
    border: 2px rgb(200,200,200) ridge;
    border-radius: 5px;
    transition: 0.7s;
    margin-left: 2%;
    text-align: center;
    float: left;
}

#prawo {
    width: 45%;
    border: 2px rgb(200,200,200) ridge;
    border-radius: 5px;
    transition: 0.7s;
    margin-right: 2%;
    text-align: center;
    float: right;
}

/* 3.1. Id z : */

#lewo:hover {
    border: 2px white ridge;
    border-radius: 10px;
    scale: 1.06;
}

#prawo:hover {
    border: 2px white ridge;
    border-radius: 10px;
    scale: 1.06;
}

/* 4. Inne */

header>h1 {
    margin: 15px 15px;
}

header:hover {
    border: 2px white ridge;
    border-radius: 10px;
    color: white;
    background-color: black;
    scale: 1.1;
}

h2:hover {
    border: 2px white ridge;
    border-radius: 10px;
    color: white;
    background-color: black;
    scale: 1.1;
}

input:hover {
    border: 1px white ridge;
    color: white;
    border-radius: 10px;
    background-color: black;
}

a:hover {
    color: red;
}

a:visited {
    color: rgb(0,222,0);
}

a:visited:hover {
    color: lime;
}

label>a, header>h1>a, .pudlo>a, .pudlo_plus>a {
    text-decoration: none;
}

button:hover {
    background-color: black;
    color: white;
    scale: 1.1;
}
